.chat-box{
    background: url('https://images.pexels.com/photos/1526/dark-blur-blurred-gradient.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position-y: 1000px;
    border-bottom: solid 1px #a1b0b8;
    width: 99.9%;
    display: grid;
    grid-template-columns: .3fr 1fr;
}

.friends{
    height: 100%;
    display: flex;
    border-right: solid 1px #a1b0b8;
}

.list-name{
    overflow: auto;    
    height: 87vh;
    width: 100%;
    font-family: joe;
    font-size: 2vh;
    display: grid;
    
}

.list-name > div:hover{
    margin: auto;
    cursor: pointer;
    width: 95%;
    font-family: john;
    font-size: 2vh;
    display: grid;
}

.friend-container{
    border: solid 2px rgba(0, 0, 0, 0.644);
    margin:auto;
    background: rgba(255, 255, 255, .3);
    width: 95%;
    font-size: 2vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
}

.fid{
    margin: auto;
    padding: 0;
}

.ficon{
    height: 40px;
    width: 40px;
    margin: auto
}

.chat-container{
    display: grid;
    grid-template-rows: 1fr .1fr;
}

.type-chat{
    border-top: solid 1px #a1b0b8;
    display: flex;
    position: relative;
    bottom: 0;
}

.input-chat{
    width: 100%;
    display: grid;
    grid-template-columns: .8fr .2fr;
}

.text-input{
    outline-width: 0;
    margin: 5px;
    font-size: 16px;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(51, 51, 51);    
}

.send-button{
    font-family: 'john';
    height: 100%;
    width: 100%;
    font-size: 3vh;
    color: white;
    background: rgb(51, 51, 51);
    display: flex;
    border-left: solid 1px #a1b0b8;
}

.send-button > p{
    margin: auto;
}

.send-button:hover{
    cursor: pointer;
    font-size: 3.5vh;
}


.current-chat{
    height: 79vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background: rgba(255, 255, 255, .3);
}

.message-sent{

    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 25px;
    margin-right: 5px;
    margin-top: 5px;
    align-self: flex-end;
    max-width: 40%;
    padding: 20px;
    color: white;
    background: rgb(51, 51, 51);
}

.message-received{
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 25px;
    margin-left: 5px;
    margin-top: 5px;
    align-self: flex-start;
    max-width: 40%;
    padding: 20px;
    color: white;
    background: rgb(51, 51, 51);
}

.message-received:hover{
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 25px;
    margin-left: 5px;
    margin-top: 5px;
    align-self: flex-start;
    max-width: 40%;
    padding: 20px;
    color: white;
    background: rgb(51, 51, 51);
    box-shadow: 1px 2px 3px #888888;
}

.message-sent:hover{

    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 25px;
    margin-right: 5px;
    margin-top: 5px;
    align-self: flex-end;
    max-width: 40%;
    padding: 20px;
    color: white;
    background: rgb(51, 51, 51);
    box-shadow: 1px 2px 3px #888888;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}