@font-face {
    font-family: joe;
    src: url("../fonts/Joe.otf");
}

@font-face {
    font-family: john;
    src: url("../fonts/John.otf");
}

@font-face {
    font-family: curly;
    src: url("../fonts/Halimun.ttf");
}


@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');