.header-bar{
    background: rgb(51, 51, 51);
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: .15fr 1fr  .2fr .05fr;
}

.header-menu{
    display: grid;
    grid-template-columns: .2fr .4fr .4fr;
}

.menu-button{
    border-left:solid 1px rgb(51, 51, 51);
    background: white;
    display: flex;
    margin: 5px;
    width: 200px;
    height: 40px;
    font-size: 25px;
    font-family: joe;
}

.menu-button:hover{
    cursor: pointer;
    border-left:solid 1px rgb(51, 51, 51);
    display: flex;
    font-family: john;
}

.menu-button > span {
    margin:auto;
}

.home{
    display: flex;
    width: 100%;
    height: 100%;
}

.home:hover{
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 100%;
}

.camagru {
    font-family: curly;
    margin-left: 10px;
    font-size:25px;
    color: white;
    align-self: flex-start;

}

.logo:hover{
	cursor: pointer;
}