html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	display: flex;
}

.page{
	width: 100%;
    display: grid;
	grid-template-rows: .06fr .9fr .04fr;  
}

.header{
	width: 100%;
}

.footer{
	width: 96%;
}
