.login-container{
    width: 100%;
    height: 100%;
    display: grid;
    background: url('https://static.pexels.com/photos/786801/pexels-photo-786801.jpeg'); 
    grid-template-rows: .3fr .7fr
}

.login-form-container {
    margin:auto;
    height: 300px;
    width: 650px;
    background: rgba(51, 51, 51, 0.3);
}

.camagru-login{
    font-family: curly;
    font-size: 100px;
    margin: auto;
    color: rgb(51, 51, 51);
}

.login-form{
    height: 100%;
    widows: 100%;
    display: grid;
    margin:auto;
    grid-template-rows: .5fr .5fr 1fr;
}

.login-input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.login-input{
    border: none;
    width: 300px;
    height: 50%;
    margin: auto;
    padding: 5px;
}

.login-label{
    color: white;
    font-family: joe;
    font-size: 35px;
    margin:auto;
}

.login-button-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.login-button-container > div{
    font-family: john;
    font-size: 20px;
    color: white;
    background: rgb(51,51,51);
    padding: 20px;
    margin: auto;
}

.login-button-container > div:hover{
    cursor: pointer;
    color: rgb(241, 85, 86);
    font-size: 25px;
}

.front_button{
    border: none;
    font-family: john;
    font-size: 20px;
    color: white;
    background: rgb(51,51,51);
    padding: 20px;
    margin: auto;
}

.front_button:hover{
    cursor: pointer;
    color: rgb(241, 85, 86);
    font-size: 25px;
}
