.photoshoot-container{
    display:grid;
    grid-template-rows: .1fr .4fr .2fr .3fr;
    height: 100%;
    width: 100%;
}

.camera{
    background: url('https://images.pexels.com/photos/172748/pexels-photo-172748.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    /* this is just for testing purpose */
    background-position-y: 700px;
    margin: 50px;
    border: solid 1px rgb(182, 182, 182);
}

.menu-photoshoot{
    margin-left: 25px;
    margin-right: 25px;
    display: grid;
    grid-template-columns: .9fr .1fr;
}

.list-gif{
    height: 135px;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-gap: 5px;
    padding: 2px;
    overflow: auto;
    border: 1px solid rgb(182, 182, 182);
}

.gif{
    margin: 2px;
    background: rgb(182, 182, 182);
    height: 110px;
    width: 110px;
}

.shoot-button{
    border-radius: 10px;
    margin: auto;
    height: 110px;
    width: 110px;
    background: rgb(51, 51, 51);
}

.shoot-button{
    cursor: pointer;
    border-radius: 10px;
    margin: auto;
    height: 110px;
    width: 110px;
    background: rgb(51, 51, 51);
}

.shoot-button > img {
    margin-top: 7px;
    margin-left: 7px;
}

.container {
    display: flex;
}
.videoElement {
    width: 800px;
    height: 600px;
}

.snap{
    display: grid;
    grid-template-rows: .9fr .1fr;
    height: 600px;
    width: 800px;
}

.c{
    width: 800px;
    height: 600px;
    display: none;
    margin: auto;
}

.overlay{
    left: 200px;
    top: 150px;
    display: none;
    position: absolute;
    height: 200px;
    width: 200px;
}

.upload{
    display: none;
}

.center{
    margin:auto;
}

.center > div{
    position: relative;
}

.snap{
    margin:auto;
    height: 600px;
    width: 800px;
}