.wrap{
    display: grid;
    grid-template-columns: .7fr .3fr;
    margin: 0;
    padding: 0;
    max-height: 100%;
    width: 100%;
    border-bottom: solid 1px rgb(182, 182, 182);
}
.img-wrapper{
    padding: 5px;
    background: url('https://images.pexels.com/photos/66997/pexels-photo-66997.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    display: grid;
    grid-auto-rows: .9fr .1fr
}
.single-img-container{
    display: flex;
}
.like-dislike{
    margin-left: 8px;
    position: absolute;
    margin-top: -130px;
    display: hidden;
}
.like-dislike:hover{
    margin-left: 8px;
    position: absolute;
    margin-top: -130px;
    display: block;
}
.like{
    padding:5px;
    margin-bottom: 5px;
    background: rgba(51, 51, 51, .5);
    display: grid;
    grid-template-columns: .1fr .9fr;
}
.like img:hover{
    cursor: pointer;
}
.like span {
    color: white;
    margin: auto;
    font-family: joe;
}
.dislike{
    padding:5px;
    background: rgba(51, 51, 51, .5);
    background: rgba(51, 51, 51, .5);
    display: grid;
    grid-template-columns: .1fr .9fr;
}
.dislike img:hover{
    cursor: pointer;
}
.dislike span {
    color: white;
    margin: auto;
    font-family: joe;
}
.current-image{
    display: flex;
    align-self: center;
    max-width: auto;
    max-height: 750px;
}
.write-comment{
    background: white;
    margin-top: 15px;
    margin-left:5px;
    border: solid 1px rgb(182, 182, 182);
    height: 50px;
    display: grid;
    grid-template-columns: .7fr .3fr; 
}
.type-text-comment{
    width: 100%;
    outline-width: 0;
    font-size: 16px;
    padding: 15px;
    border: none;
}
.comment-button{
    display: flex;
    margin-left: 30px;
    background: rgb(51, 51, 51);
    color: white;
    font-family: joe;
    font-size: 25px;
    height: 100%;
    width: 1fr;
}
.comment-button:hover{
    cursor: pointer;
    display: flex;
    margin-left: 30px;
    background: rgb(51, 51, 51);
    color: white;
    font-family: john;
    font-size: 25px;
    height: 100%;
    width: 1fr;
}
.comment-button > span {
    margin: auto;
}

.comment-history{
    overflow: auto;
    height: 835px;
    width: 100%;
}

.single-comment{
    display: grid;
    grid-template-columns: .1fr .9fr;
    background: rgba(51, 51, 51, .2);
    margin: 5px;
    padding: 15px;
}

.single-comment > a{
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
}
.img-item{
    margin:auto;
}

.left-arrow{
    transform: scale(0.9);
    margin-top: -400px;
    position: absolute;
    background: rgba(51, 51, 51, .2);
}

.left-arrow:hover{
    margin-left: 2px;
    cursor: pointer;
    transform: scale(1);
}

.right-arrow{
    transform: scale(0.9);
    margin-top: -400px;
    margin-left: 1077px;    
    position: absolute;
    background: rgba(51, 51, 51, .2);
}

.right-arrow:hover{
    margin-left: 1076px; 
    cursor: pointer;
    transform: scale(1);
}