.profile-container{
    height: 100%;
    width: 100%;
}
.search-container{
    border: solid 1px rgba(51, 51, 51, .25);
    border-radius: 5px;
    margin: 10px;
    display: grid;
    grid-template-columns: .05fr 1fr; 
}
.search-container > img{
    opacity: .5;
}
.search-bar-text{
    outline-width: 0;
    margin-left: 20px;
    height: 42px;
    width: 95%;
    border:none;
    padding: 3px;
    font-family: joe;
    font-size: 20px;
}
.collection{
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    height: 735px;
    width: auto;
    margin: 20px;
    overflow: auto;
}
.photo-container{
    width: 400px;
    height: 300px;
    margin: 25px;
    border: solid 1px rgb(184, 184, 184);
}
.delete{
    text-align: end;
    padding: 1px;
    color: rgb(184, 184, 184);
    font-family: joe; 
}
.delete:hover{
    cursor: pointer;
    color: rgb(241, 85, 86);
    font-family: john;
}
.photo{
    display:flex;
}
.photo > img{
    margin:auto;
    filter: blur(1px);
    max-height: 270px;
    max-width: 400px;
    opacity: .75;
}
.photo > img:hover{
    cursor: pointer;
    filter: blur(0px);
    height: auto;
    max-width: 400px;
    opacity: 1;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}