.singup-container {
    width: 100%;
    height: 100%;
    display: grid;
    background: url('https://static.pexels.com/photos/786801/pexels-photo-786801.jpeg'); 
    grid-template-rows: .3fr 1fr
}
.singup {
    display: flex;
}
.singup > span {
    margin: auto;
    font-family: joe;
    font-size: 85px;
    color: rgba(255, 255, 255, 0.75);
    border: none;
}
.singup > span > span {
    margin: auto;
    font-family: john;
    font-size: 85px;
    color: rgba(241, 85, 86, 0.75);
    border: none;
}
.form-container {
    margin:auto;
    height: 400px;
    width: 700px;
    background: rgba(51, 51, 51, 0.3);
}
.register-form{
    height: 100%;
    widows: 100%;
    display: grid; 
    grid-template-rows: .15fr .15fr .2fr .4fr .1fr;
}
.input-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.input-container-password {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .75fr .25fr;
}
.password-meter{
    width: 320px;
    margin: auto;
    display: grid;
    grid-template-columns: .75fr .25fr;
}
.progress-bar{
    margin: auto;
    width: 80%;
    height: 100%;
    border: solid 1px rgba(51, 51, 51, .5);
}
.progress-percent{
    border-right: solid 1px rgba(51, 51, 51, .5);
    height: 100%;
    width: 0%;
}
.password-strenght{
    margin: auto;
    font-family: john;
    font-size: 12px;
    color: white;
} 
.register-label{
    margin: auto;
    color: white;
    font-family: joe;
    font-size: 35px;
}
.register-input{
    margin: auto;
    border: none;
    padding: 10px;
    width: 300px;
    font-family:  'Roboto Condensed', sans-serif;
    font-size: 16px;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}
.submit-container{
    margin: auto;
    background: rgb(51, 51, 51);
    color: white;
    font-family: john;
    font-size: 35px;
    padding: 20px;
}

.link{
    cursor: pointer;
    margin: auto;
    font-family: joe;
    font-size: 16px;
    color: white;
    padding: 2px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.error-content {
    font-family: john;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}